body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  overflow-x: hidden;
  background-color: #f5f5dc;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: #8B4513;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar ul li a:hover {
  background-color: #8b4513d6;
  color: white;
  border-radius: 10px;
}

.navbar ul li:first-child a {
  font-size: 22px;
  color: #8B4513;
}
.navbar ul li:first-child a:hover {
  color:#DAA520;
  background-color: #8B4513;
}

.slider {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border: 2px solid #8B4513;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  vertical-align: middle;
  height: 100vh;
}

.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: #8B4513;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: -2px; /* Adjust as needed to remove any gap */
}
.footer-content a {
  color: #DAA520;
  text-decoration: none;
  font-weight: bold;
}

.footer-content a:hover {
  text-decoration: underline;
}
