
.quiz-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000000d6; /* Black background */
    color: rgba(255, 255, 0, 0.86); /* Yellow text */
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.quiz-button:hover {
    background-color: #ff0; /* Yellow background on hover */
    color: #000; /* Black text on hover */
}